.container {
    display: flex;
    padding: 10px;
    /* justify-content: baseline; */
    border: 1px solid #000;
}
.left-part {
    padding: 20px;
    margin: 10px;
    border-radius: 2.5px;
    margin: auto;
    width: 50%;
}
.left-part a {
    background: #E7717D;
    color: #fff;
    border-radius: 4px;
    padding: 8px 20px;
    text-decoration: none;
}
.right-part {
    font-size: 50px;
    text-align: center;
    /* margin: auto; */
    color: #fff;
    background: #E7717D;
    padding: 100px 100px;
    margin: 50px;
    border-radius: 2.5px;
    width: 50%;
}
